style.css
*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #1A0B2E;
  color:#ffff;
}

a{
  text-decoration:none;
  color:#ffff;
}

header{
  padding:24px 200px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:24px;
  font-weight:700;
}

nav a{
  margin:0 15px;
  font-size:16px;
  gap: 8;
}
.btn{
    padding: 12px 16px;
    background-color:#FB09B4;
    font-size: 16px;
    font-weight: 790px;
    color: white;
    border-radius: 8px;
    border:none ;
}

.hero{
    text-align: center;
}
.mic{
    
}
